body{
    background-color: hsl(255, 16%, 85%);
}
.container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
.signup-form {
        max-width: 300px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fff;
      }
      
.signup-form h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      
.signup-form input {
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
      
.signup-form button {
        width: 45%;
        padding: 10px;
        background-color: #3897f0;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left:70px ;
      }
      
.signup-form p {
        text-align: center;
        margin-top: 10px;
      }
      
.signup-form a {
        color: #01274a;
        text-decoration: none;
      }
      
label{
    margin-left: 70px;
    margin-bottom: 9px;
    color: rgb(107, 106, 106);
}
