<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Admin Home</h3>
    <h2>Users</h2><br>
    {% for user in users %}
      <p><strong>{{ user.username }}</strong></p>
      <p>{{user.first_name}}</p>
      <p>{{user.email}}</p>
      <a href="{% url 'edit_user' user.id %}"><button>Edit</button></a>

      <br><br>



    {% endfor %}
  </ul>
</body>
</html>